.cv-container{
    display: grid;
    grid-template-columns:40% 60%;
    background-color: white;
    max-width: 710px;
    margin: 0 auto;
    height: auto;
}
body{
    background-color: gray;
}
.left-col {
    background-color: #182750;
    height: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
.left-col p{
    color: white;
}
.avt-img{
    margin-top: 10px;
    height: auto;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.avt-wrapper{
    text-align: center;
}
.avt-img img{
    overflow:hidden;
    width: 100%;
    height: 100%;
    Object-fit: content;
}

/* for individual information */
.invi-info-wrapper{
    font-size: 16px;
}

.invi-info-wrapper h3{
    margin-top: 40px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.item-wrapper{
    height: auto;
    display: flex;
    align-items: center;
    margin: 0px 5px;
    font-family: serif;
}
.item-img-wrapper{
    margin: 0px 5px;
    height: 17px;
    width: 22px;
}
.item-info-wrapper{
    width: 100%;
}
.item-info-wrapper p{
    font-size: 15px;
    margin: 2px;
    width: auto;
    height: auto;
}
.item-img-wrapper i{
    color: white;
    overflow:hidden;
    width: 100%;
    height: 100%;
}

.item-info{
    width: auto;
}

/* for career goals*/
.career-goals-wrapper h3{
    margin-top: 40px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.career-goals-wrapper{
    height: auto;
    width: auto;
}

.career-goals-wrapper p{
    font-family: serif;
    font-size: 15px;
    color: white;
    text-align: left;
    margin: 0px 10px;
}

/* for skils*/
.skills-wrapper h3{
    margin-top: 40px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.skills-wrapper {
    width: auto;
    height: auto;
}

.skills-wrapper p{
    margin-left: 10px;
    margin-bottom: 5px;
}

.item-level-wrapper{
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
    display: flex;
    text-align: right;
    height: 10px;
    width: auto;
    border-color: white;
    background-color: white;
}
.planing-positive{
    background-color: #182750;
    height: auto;
    width: 40%;
}
.team-work-positive{
    background-color: #182750;
    height: auto;
    width: 50%;
}
.research-positive{
    background-color: #182750;
    height: auto;
    width: 50%;
}
.english-positive{
    background-color: #182750;
    height: auto;
    width: 55%;
}

/*for prize*/
.prizes-wrapper h3{
    margin-top: 40px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.prizes-wrapper {
    width: auto;
    height: auto;
}

.prizes-wrapper p{
    font-family: serif;
    font-size: 15px;
    color: white;
    text-align: left;
    margin: 0px 10px;
}

/*for hobbies*/
.interesting-wrapper h3{
    margin-top: 40px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.interesting-wrapper p{
    font-family: serif;
    font-size: 15px;
    color: white;
    text-align: left;
    margin: 0px 10px;
}

.interesting-wrapper{
    width: auto;
    height: auto;
    margin-bottom: 15px;
}




/* for right column */
.right-col{
    background-color: white;
    height: auto;
    margin-right: auto;
    width: auto;
}

.name-position-wrapper{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
    color: #1A2B46;
}

.name-position-wrapper h1{
    font-size: 35px;
    margin-bottom: 10px;
    width: auto;
}

/* for section */
.section-wrapper{
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 30px;
    display: flex;
    height: auto;
    width: 75%;
    align-items: center;
}
.rectangle-wrapper{
    background-image: linear-gradient(to right, white, #213251);
    height: auto;
    width: 85%;
}
.rectangle-wrapper h3{
    color: #6F3858;
    margin: 5px 0px;
    vertical-align: middle;
    height: auto;
    text-transform: uppercase;
}
.triangle-wrapper{
    width: 15%;
    /* height: 32px;
    border: 16px solid #fff;
    border-left: 70 solid #213251; */
}

/* for section */
.section-items-wrapper{
    margin-left: 30px;
    text-align: left;
    margin-right: 10px;
}

.section-item .item-name{
    font-weight: bold;
    margin: 20px auto;
}

.section-item-major .item-major-name{
    font-weight: normal;
    margin: 5px auto;
}

@media only screen and (max-width:710px) {
    .cv-container{
        grid-template-columns:100%;
    }
    .right-col{
        width: 100%;
    }
}
